.field__row {
  margin: auto auto 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 500px;
  list-style: none;
}
